// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
#btn {
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 0px 5px 5px 0px;
  margin: 0px;
  padding: 4px;
}

h2 {
  font-weight: lighter;
  font-size: 14px;
}

#question {
  margin: 0px;
  padding: 4px;
}
// You can use Sass (SCSS) here: http://sass-lang.com/
